yacs==0.1.4
numpy==1.22.0
torch==1.13.1
torchvision==0.14.1
opencv-python
tqdm==4.28.1
pycocotools==2.0.6
matplotlib
plyfile==0.6
scikit-image
scikit-learn
PyOpenGL==3.1.1a1
ipdb==0.11
cyglfw3==3.1.0.2
pyassimp==3.3
progressbar
open3d-python
tensorboardX==1.2
cffi
transforms3d
protobuf==3.19.0
